<h3>About</h3>
<p>Business cards manager lets you store and browse through your contacts, remotely!</p>

<h4>Definitions</h4>
<dl>
<dt>Other’s cards</dt>
<dd>Cards by other people marked as public.</dd>
<dt>Your cards</dt>
<dd>Cards added by you, both public and private.</dd>
</dl>