<h2>Available profiles</h2>
	
<div class="three columns">
	<p>Choose one of the profiles</p>
	<select>
		<% @cards.each do |card| %>
			<option><%= card.name %></option>
		<% end -%>
	</select>
	
	<p>or… <br><%= link_to "Create new card", new_card_path %></p>
</div>
<div class="ten columns" id="profile">
	<% card = @cards.find(2) %>
	<h3><%= card.name %></h3>
	<ul>
		<li><strong>Website:</strong> <% if !card.website.blank? %><%= link_to card.website, card.website %><% else %>no website<% end%> </li>
		<li><strong>Photo:</strong></li>
		<li><strong>Address:</strong></li>
		<li><strong></strong></li>
	</ul>
	
	<a href="#">Download the data</a>
</div>
<div class="three columns">
<h5>Recent activity</h5>
</div>