<h2>Available profiles</h2>
	
<div class="three columns">
	<p>Choose one of the profiles</p>
	<select>
		<% @users.each do |user| %>
			<option><%= user.email %></option>
		<% end -%>
	</select>
</div>
<div class="ten columns" id="profile">
	<ul>
	<% @users.each do |user| %>
		<li><%= user.email %></li>
		<li><% if !user.website.blank? %><%= user.website %><% else %>no website<% end%> </li>
	<% end -%>
	</ul>
	
	<a href="#">Download the data</a>
</div>
<div class="three columns">
<h5>Recent activity</h5>
</div>