<h3>Available cards</h3>

<select id="cards-list">
		<option disabled="disabled">Pick the card</option>
		<% @cards.each do |card| %>
		<option name="<%= card.id %>"<% if @card != nil && card.id == @card.id %> selected="selected"<% end %>><%= card.name %></option>
		<% end -%>
</select>

<p>or… <br><%= link_to "Create new card", new_card_path %></p>