<h3>Card list</h3>

<ul>
<% @cards.each do |card| %>
	<li>
		<%= card.name %>
		<% if !card.website.blank? %>
		<%= link_to card.website, card.website %>
		<%end %>
	</li>
<% end -%>
</ul>

<%= link_to "New card", cards_new_path %>