<h2>Available cards</h2>
	
<div class="three columns">
	<%= render 'cards/list' %>
</div>
<div class="ten columns" id="profile">
	<ul>
	<% @cards.each do |card| %>
		<li><%= card.name %></li>
		<li><% if !card.website.blank? %><%= card.website %><% else %>no website<% end%> </li>
	<% end -%>
	</ul>
	
	<a href="#">Download the data</a>
</div>
<div class="three columns">
<h5>Recent activity</h5>
</div>